	<!-- Footer Wrapper -->
	<footer class="footer-wrapper">
		<div class="main-footer">
			<div class="container">
{# 				<div class="row">
					<div class="col-sm-8">

					<p><i class="fa fa-envelope-o box-icon color-white"></i>  info@dyconsol.com
					<span style="margin-left:20px;"><i class="fa fa-phone box-icon color-white"></i> +92-21-2782315, 32782321</span></p>

					</div>
					<div class="col-sm-4">
						<ul class="social-icon dark-2 rounded pull-right">
						 	<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<hr class="footer-hr">
					</div>
				</div> #}
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<div class="row">
							<div class="col-sm-12 col-md-11">
								<div class="footer-widget">
									<h3 class="widget-title">About us</h3>
									<p class="mb25">Dynamic Consulting and Solutions-DYCONSOL is an Information Technology and Business Process Improvement and Outsourcing company... <a class="main-text" href="{{web_url}}about">Read more</a></p>
{# 									<address class="contact-info">
										<p><i class="fa fa-map-marker box-icon color-white"></i>  1800 Los Angeles, USA</p>
										<p><i class="fa fa-phone box-icon color-white"></i>  0 800-55-22-55</p>
									</address> #}
								</div> <!-- END Footer Widget Keep in touch -->
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="row">
							<div class="col-sm-6">
								<div class="footer-widget">
									<h3 class="widget-title">Useful Links</h3>
									<ul class="footer-posts">
										<li><a href="{{web_url}}careers"><i class="fa fa-user"></i> Careers</a></li>
										<li><a href="{{web_url}}clients"><i class="fa fa-users"></i> Clients</a></li>
										<li><a href="{{web_url}}contact"><i class="fa fa-map-marker"></i> Contact Us</a></li>

									</ul>
								</div> <!-- END Latest posts -->
							</div>
							<div class="col-sm-6">
{# 								<div class="footer-widget">
									<h3 class="widget-title">Flickr photos</h3>
									<ul id="flickr-footer" class="flickr-feed footer-projects">
									</ul>
								</div> <!-- END Top projects widget --> #}

								<div class="footer-widget">
									<h3 class="widget-title">Stay Connected</h3>
									<ul class="footer-posts">
										<li><p><i class="fa fa-map-marker box-icon color-white"></i> Sea Breeze Plaza, Unit # 203, 
Shara-e-Faisal, Karachi, Sindh </p></li>

										<li><p>
					<span><i class="fa fa-phone box-icon color-white"></i> +92-21-2782315, 32782321</span></p></li>
										<li><p><i class="fa  fa-envelope-o box-icon color-white"></i>  info@dyconsol.com</p></li>
									</ul>
								</div> <!-- END Latest posts -->

							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- END Main Footer -->
		<div class="sub-footer titlebar titlebar2">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="pull-left">
							<ul class="footer-menu">
								<li><a href="{{web_url}}policy">Privacy policy</a></li>
								<li><a href="{{web_url}}terms">Terms of use</a></li>
								<li><a href="{{web_url}}copyright">Copyright</a></li>
							</ul>
						</div>

						<div class="pull-right">
							<p>&copy; Copyright 2015 - 2016 Dyconsol</p>
						</div>

					</div>
				</div>
			</div>
		</div> <!-- END Sub footer -->		
	</footer> <!-- END Footer -->
